<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- IP Security Rules -->
    <security>
      <ipSecurity allowUnlisted="true">
        <!-- Major China IP ranges (verified from nirsoft.net/countryip/cn.html) -->
        <add ipAddress="1.0.0.0" subnetMask="255.128.0.0" allowed="false" />
        <add ipAddress="14.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="27.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="36.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="39.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="42.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="49.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="58.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="59.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="60.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="61.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="101.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="103.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="106.0.0.0" subnetMask="255.128.0.0" allowed="false" />
        <add ipAddress="111.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="112.0.0.0" subnetMask="255.128.0.0" allowed="false" />
        <add ipAddress="113.0.0.0" subnetMask="255.128.0.0" allowed="false" />
        <add ipAddress="114.0.0.0" subnetMask="255.128.0.0" allowed="false" />
        <add ipAddress="115.0.0.0" subnetMask="255.0.0.0" allowed="false" />
        <add ipAddress="116.0.0.0" subnetMask="255.0.0.0" allowed="false" />
        <add ipAddress="117.0.0.0" subnetMask="255.128.0.0" allowed="false" />
        <add ipAddress="119.0.0.0" subnetMask="255.128.0.0" allowed="false" />
        <add ipAddress="120.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="121.0.0.0" subnetMask="255.128.0.0" allowed="false" />
        <add ipAddress="122.0.0.0" subnetMask="255.128.0.0" allowed="false" />
        <add ipAddress="123.0.0.0" subnetMask="255.128.0.0" allowed="false" />
        <add ipAddress="124.0.0.0" subnetMask="255.0.0.0" allowed="false" />
        <add ipAddress="125.0.0.0" subnetMask="255.128.0.0" allowed="false" />

        <!-- Major Russia IP ranges (verified from nirsoft.net/countryip/ru.html) -->
        <add ipAddress="2.56.0.0" subnetMask="255.248.0.0" allowed="false" />
        <add ipAddress="5.8.0.0" subnetMask="255.248.0.0" allowed="false" />
        <add ipAddress="5.16.0.0" subnetMask="255.240.0.0" allowed="false" />
        <add ipAddress="5.128.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="31.128.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="37.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="46.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="62.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="77.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="78.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="79.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="80.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="81.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="82.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="83.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="84.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="85.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="87.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="90.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="91.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="92.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="93.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="94.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="95.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="176.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="178.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="188.0.0.0" subnetMask="255.192.0.0" allowed="false" />
        <add ipAddress="213.0.0.0" subnetMask="255.192.0.0" allowed="false" />
      </ipSecurity>
    </security>
    <rewrite>
      <rules>
        <rule name="StaticContent">
          <action type="Rewrite" url="client{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server/main.js"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
