:root {
    --primary-color: #4f46e5;
    --secondary-color: #5039e9;
    --background-color: #6d81ad;
    --text-color: #1f2937;
    --button-hover-color: #3b3bdb;
    --dark-background-color: #1a202c;
    --dark-text-color: #cbd5e0;
    --dark-border-color: #2d3748;
    --dark-button-hover-color: #2b6cb0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50%;
    min-height: 100vh;
    padding: 2rem;
}

header {
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

main {
    width: 100%;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

textarea {
    margin-bottom: 0;
    padding: 0.5rem;
    border-radius: 0.25rem 0 0 0.25rem;
    border: 2px solid var(--primary-color);
    flex-grow: 1;
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0 0.25rem 0.25rem 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: var(--button-hover-color);
}

footer {
    margin-top: 2rem;
    text-align: center;
}

footer img {
    height: 4rem;
}

#chat-container {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    overflow-y: auto;
    max-height: 60vh;
    width: 100%;
    word-wrap: break-word;
    max-width: 3xl;
}

#chat-container.dark-mode {
    background-color: var(--dark-background-color);
    border: 2px solid var(--dark-border-color);
}

#dialogue {
    list-style: none;
    padding: 0;
    margin: 0;
}

#dialogue li {
    margin-bottom: 1rem;
    word-wrap: break-word;
}

.bg-indigo-500 {
    background-color: var(--primary-color);
}

.bg-gray-500 {
    background-color: #6b7280;
}

.text-white {
    color: #ffffff;
}

.rounded {
    border-radius: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.w-fit {
    width: fit-content;
}

.self-end {
    align-self: flex-end;
}

.self-start {
    align-self: flex-start;
}

.break-words {
    word-break: break-word;
}

button#toggle-dark-mode {
    background-color: var(--dark-border-color);
    color: var(--dark-text-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button#toggle-dark-mode:hover {
    background-color: var(--dark-button-hover-color);
}